<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <title>BA Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="bootstrap.min.css" rel="stylesheet">
    <style>
      * {
        font-size: large;
        color: white;
      }
      body {
        background-color: #202020;
      }
      th {
        border: 0.8px solid lightgray;
        background-color: #233641;
        color: white;
        padding: 4px;
        text-align: center;
      }
      td {
        border: 0.8px solid lightgray;
        padding: 4px;
        text-align: center;
      }
      .sbtn {
        padding: 2px 6px;
        font-size: medium;
      }
      .loader {
        border: 14px solid #f3f3f3; /* Light grey */
        border-top: 14px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
    <script src="tf.min.js"></script>
    <script src="tiff.min.js"></script>
    <script src="opencv.js"></script>
    <script src="angular.min.js"></script>
    <script>
      function prt(c) {
        console.log(c);
      }

      var app = angular.module('ngApp', []);
      app.controller('ngCtrl', function($scope) {
        $scope.OnImageUpload = function() {
          if ($scope.Files) {
            for (let i=0; i<$scope.Files.length; i++) {
              document.getElementById('imgOriginal'+i) ? document.getElementById('imgOriginal'  +i).remove() : 0;
              document.getElementById('imgPreview'+i) ? document.getElementById('imgPreview'+i).remove() : 0;
            }
          }

          let input = document.getElementById('upload');
          $scope.Files = [];
          prt(input.files.length);
          for (let i=0; i<input.files.length; i++) {
            $scope.Files.push({'Name':input.files[i].name});
            $scope.Files[i].Gender = 1;
            prt(input.files[i].name);

            let src = URL.createObjectURL(input.files[i]);

            let imgOrg = new Image();
            let imgPre = new Image();
            imgOrg.src = src;
            imgPre.src = src;
            imgOrg.onload = function() {
              imgOrg.id = 'imgOriginal'+i;
              imgOrg.style.display = 'none';
              document.getElementById('Preview'+i).appendChild(imgOrg);
            }
            imgPre.onload = function() {
              imgPre.id = 'imgPreview'+i;
              imgPre.style.height = $scope.PreviewImageHeight + 'px';
              document.getElementById('Preview'+i).appendChild(imgPre);
            }

            let xhr = new XMLHttpRequest();
            xhr.responseType = 'arraybuffer';
            xhr.open('GET', src);
            xhr.onload = function (e) {
              var tiff = new Tiff({buffer: xhr.response}); // 若不是tiff，這行會失敗，不會執行後面的程式
              var canvasOrg = tiff.toCanvas();
              var canvasPre = tiff.toCanvas();
              canvasOrg.id = 'imgOriginal'+i;
              canvasPre.id = 'imgPreview'+i;
              canvasOrg.style.display = 'none';
              canvasPre.style.height = $scope.PreviewImageHeight + 'px';
              document.getElementById('Preview'+i).appendChild(canvasOrg);
              document.getElementById('Preview'+i).appendChild(canvasPre);
            };
            xhr.send();
          }

          //document.getElementById('img299').src = src;
          //document.getElementById('img500').src = src;
          //document.getElementById('img500').style.display = 'initial';
          $scope.$apply();
        }

        $scope.SetMagnifier = function(size) {
          for (let i = 0; i < $scope.Files.length; i++) {
            if (document.getElementById('imgPreview'+i).style.height == $scope.MagnifierImageHeight + 'px') {
              $scope.Zoom('imgPreview'+i, $scope.MagnifierImageHeight, size);
            }
          }
          $scope.MagnifierImageHeight = size;
        }

        $scope.OnClickImg = function(idx) {
          for (let i = 0; i < $scope.Files.length; i++) {
            if (i != idx && document.getElementById('imgPreview'+i).style.height == $scope.MagnifierImageHeight + 'px') {
              $scope.Zoom('imgPreview'+i, $scope.MagnifierImageHeight, $scope.PreviewImageHeight);
            }
          }
          if (document.getElementById('imgPreview'+idx).style.height == $scope.PreviewImageHeight + 'px') {
            $scope.Zoom('imgPreview'+idx, $scope.PreviewImageHeight, $scope.MagnifierImageHeight);
          } else {
            $scope.Zoom('imgPreview'+idx, $scope.MagnifierImageHeight, $scope.PreviewImageHeight);
          }
        }

        $scope.Zoom = function(id, sSize, eSize) { // 動畫呈現縮放
          let currSize = sSize;
          let e = document.getElementById(id);
          let itv = setInterval(frame, $scope.AnimateCycle);
          function frame() {
            if (sSize <= eSize) { // 放大
              if (currSize >= eSize) {
                clearInterval(itv);
              } else {
                currSize += $scope.AnimateStep;
                e.style.height = currSize + 'px';
              }
            } else { // 縮小
              if (currSize <= eSize) {
                clearInterval(itv);
              } else {
                currSize -= $scope.AnimateStep;
                e.style.height = currSize + 'px';
              }
            }
          }
        }

        $scope.SetAllGenders = function(g) {
          if ($scope.Files) {
            for (let i=0; i<$scope.Files.length; i++) {
              $scope.Files[i].Gender = g;
            }
          }
        }

        $scope.PredAllImages = function() {
          $scope.ClearFields();
          tf.tidy(() => {
            if ($scope.Files) {
              for (let i=0; i<$scope.Files.length; i++) {
                if (!document.getElementById('imgOriginal'+i)) {
                  alert("請等候全部檔案讀取完成，再開始預測");
                  $scope.Processing = 0;
                  return;
                }
              }
              document.getElementById('predbtn').disabled = true;
              setTimeout(() => { $scope.PredOneImage(0); }, $scope.DelayMS);
            }
          });
        };

        $scope.PredOneImage = function(i) {
          $scope.ResultX1B4 = $scope.ResultX1B5 = null;

          let src = cv.imread(document.getElementById('imgOriginal'+i));
          cv.resize(src, src, {width:500, height:500}, 0, 0, cv.INTER_AREA);
          cv.cvtColor(src, src, cv.COLOR_BGR2GRAY, 0);
          cv.imshow(imgResize, src);
          // let clahe = new cv.CLAHE(4, {width:8, height:8});
          // clahe.apply(src, src);
          // cv.imshow(imgResizeClahe, src);
          //prt(src.data);

          let X1 = tf.browser.fromPixels(document.getElementById('imgResize')).expandDims(0);
          X1 = X1.add(0.0); // preprocess: 轉成 float
          //prt(X1.shape);

          $scope.modelB4.predict([X1, tf.tensor([[$scope.Files[i].Gender]])]).array().then(array => {
            $scope.ResultX1B4 = array[0][0];
            if ($scope.FullMode) {
              if ($scope.ResultX1B5) { // ensemble
                let avg = ($scope.ResultX1B4+$scope.ResultX1B5)/2;
                $scope.Files[i].X1Months = avg;
                $scope.Files[i].X1Years = avg/12;
                $scope.AfterFinish(i);
              }
            } else {
              $scope.Files[i].X1Months = $scope.ResultX1B4;
              $scope.Files[i].X1Years = $scope.ResultX1B4/12;
              $scope.AfterFinish(i);
            }
          });
          if ($scope.FullMode) {
            $scope.modelB5.predict([X1, tf.tensor([[$scope.Files[i].Gender]])]).array().then(array => {
              $scope.ResultX1B5 = array[0][0];
              if ($scope.ResultX1B4) { // ensemble
                let avg = ($scope.ResultX1B4+$scope.ResultX1B5)/2;
                $scope.Files[i].X1Months = avg;
                $scope.Files[i].X1Years = avg/12;
                $scope.AfterFinish(i);
              }
            });
          }
        };

        $scope.AfterFinish = function(i) {
          if (i+1<$scope.Files.length) {
            setTimeout(() => { $scope.PredOneImage(i+1); }, $scope.DelayMS);
          } else {
            prt(tf.memory());
            document.getElementById('predbtn').disabled = false;
          }
          $scope.$apply();
        };

        $scope.Export = function() {
          let csv = "data:text/csv;charset=utf-8,File,Gender,Age,MonthAge\n";
          if ($scope.Files) {
            for (let i=0; i<$scope.Files.length; i++) {
              csv += $scope.Files[i].Name + ',' + ($scope.Files[i].Gender==1 ? 'M' : 'F') + ',' + $scope.Files[i].X1Years + ',' + $scope.Files[i].X1Months + '\n';
            }
            var uri = encodeURI(csv);
            window.open(uri);
          }
        }

        $scope.CopyToClipboard = function() {
          if ($scope.Files) {
            let txt = '';
            for (let i=0; i<$scope.Files.length; i++) {
              txt += $scope.Files[i].Name + ' ' + $scope.Files[i].X1Years + ' ' + $scope.Files[i].X1Months + '\n';
            }
            let clipboard = document.getElementById("Clipboard");
            clipboard.value = txt;
            clipboard.select();
            document.execCommand("copy");
          }
        }

        $scope.ClearFields = function() {
          let canvas = document.getElementById('imgResize');
          canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
        }

        $scope.ToFixed = function(f, d) {
          if (f) {
            return Number(f).toFixed(d);
          }
        }

        $scope.Init = async function() {
          $scope.FullMode = 1; // 完整模式包含B5，速度較慢
          let params = new URLSearchParams(window.location.search);
          if (params.get('fast')) {
            $scope.FullMode = 0; // 快速模式只使用B4，速度較快
          }

          $scope.Version = 'v0.7 2022/1/12';
          $scope.Lang = 'C'; // 中文

          $scope.Dict = { 
            'Title': {'C': 'AI骨齡預測', 'E': 'Bone Age Prediction' },
            'Upload': {'C': '請上傳X光圖片', 'E': 'Upload X-Ray Images' },
            'Predict': {'C': '開始預測', 'E': 'Predict' },
            'File': {'C': '檔案', 'E': 'File' },
            'Image': {'C': '圖片', 'E': 'Image' },
            'S': {'C': '小', 'E': 'S' },
            'M': {'C': '中', 'E': 'M' },
            'L': {'C': '大', 'E': 'L' },
            'SetSize': {'C': '設定點擊圖片的放大尺寸', 'E': 'Set On-Click Image Size' },
            'Gender': {'C': '性別', 'E': 'Gender' },
            'Male': {'C': '男', 'E': 'Male' },
            'Female': {'C': '女', 'E': 'Female' },
            'SetAll': {'C': '全部設定', 'E': 'Set All' },
            'Result': {'C': '預測結果', 'E': 'Result' },
            'Age': {'C': '年齡', 'E': 'Age' },
            'MonthAge': {'C': '月齡', 'E': 'Month Age' },
            'Export': {'C': '匯出', 'E': 'CSV' }
          };

          $scope.PreviewImageHeight = 70;
          $scope.MagnifierImageHeight = 400;
          $scope.AnimateStep = 10;
          $scope.AnimateCycle = 1;
          $scope.DelayMS = 50;

          // load models
          $scope.modelB4 = await tf.loadGraphModel('EfficientNetB4Graph/model.json');
          $scope.modelB4.predict([tf.zeros([1,500,500,3]),tf.tensor([[$scope.Gender]])]).dispose(); // 預熱模型
          if ($scope.FullMode) {
            $scope.modelB5 = await tf.loadGraphModel('EfficientNetB5Graph/model.json');
            $scope.modelB5.predict([tf.zeros([1,500,500,3]),tf.tensor([[$scope.Gender]])]).dispose(); // 預熱模型
          }

          prt(tf.getBackend());
          prt(tf.memory());
          prt(tf.ENV.features);
          //prt(tf.ENV.getBool('WEBGL_RENDER_FLOAT32_CAPABLE'));
          //prt(tf.ENV.getBool('WEBGL_RENDER_FLOAT32_ENABLED'));

          $scope.InitFinish = 1;
          $scope.$apply();
        }

        angular.element(document).ready(function () {
          let input = document.getElementById('upload');
          input.addEventListener('change', $scope.OnImageUpload);
        });

        $scope.Init();
      });
    </script>
  </head>
  <body ng-app="ngApp" ng-controller="ngCtrl" style="padding:8px">
    <div ng-show="!InitFinish" style="text-align:center; font-size:x-large">
      <br /><br /><br />
      網頁載入中... 敬請稍候{{FullMode ? ' 5 分鐘' : ''}}<br />
      Loading... Please wait{{FullMode ? ' for 5 minutes' : ''}}<br /><br />
      <div class="loader" style="margin:auto"></div>
      <br /><br /><br />
    </div>
    <table ng-show="InitFinish" style="min-width:800px">
      <tr>
        <td colspan="5" style="border:0; text-align:left">
          <div style="float:left">
            <img src="ba.png" style="vertical-align:text-bottom">
            <span style="font-size:30px">{{Dict.Title[Lang]}}</span>
            <span style="font-size:large; font-style:italic">{{Version}}</span>
            <div class="btn-group" style="margin-left:4px">
              <button type="button" class="btn sbtn" ng-class="Lang=='C' ? 'btn-light' : 'btn-outline-light'" style="font-size:small" ng-click="Lang='C'">中</button>
              <button type="button" class="btn sbtn" ng-class="Lang=='E' ? 'btn-light' : 'btn-outline-light'" style="font-size:small" ng-click="Lang='E'">En</button>
            </div>
          </div>
          <div class="btn-group" ng-show="Files && Files.length>0" style="float:right">
            <button class="btn btn-warning" id="predbtn" ng-click="PredAllImages()">
              {{Dict.Predict[Lang]}}
            </button>
          </div>
          <div style="float:right; margin:0px 12px">
            <label for="upload" class="btn btn-light" ng-click="ClearFields()">{{Dict.Upload[Lang]}}</label>
            <input type="file" id="upload" accept=".jpg, .jpeg, .png, .tif, .tiff" multiple style="width:0px">
          </div>
          <canvas id="imgResize" style="display:none; vertical-align:bottom"></canvas>
          <textarea id="Clipboard" style="width:0px; height:0px; opacity:0"></textarea>
        </td>
      </tr>
      <tbody ng-show="Files">
       <tr>
          <td style="border:0; height:12px"></td>
        </tr>
        <tr>
          <th rowspan="2">{{Dict.File[Lang]}}</th>
          <th rowspan="2" style="width:450px">
            {{Dict.Image[Lang]}}
            <div style="float:right; font-size:medium; font-weight:normal" title="{{Dict.SetSize[Lang]}}">
              🔍
              <div class="btn-group">
                <button type="button" class="btn sbtn" ng-class="MagnifierImageHeight==400 ? 'btn-light' : 'btn-outline-light'" ng-click="SetMagnifier(400)">{{Dict.S[Lang]}}</button>
                <button type="button" class="btn sbtn" ng-class="MagnifierImageHeight==600 ? 'btn-light' : 'btn-outline-light'" ng-click="SetMagnifier(600)">{{Dict.M[Lang]}}</button>
                <button type="button" class="btn sbtn" ng-class="MagnifierImageHeight==1000 ? 'btn-light' : 'btn-outline-light'" ng-click="SetMagnifier(1000)">{{Dict.L[Lang]}}</button>
              </div>
            </div>
          </th>
          <th rowspan="2">
            <div>{{Dict.Gender[Lang]}}</div>
            <div class="btn-group" title="{{Dict.SetAll[Lang]}}">
              <button type="button" class="btn btn-light sbtn" ng-click="SetAllGenders(1)">{{Dict.Male[Lang]}}</button>
              <button type="button" class="btn btn-light sbtn" ng-click="SetAllGenders(0)">{{Dict.Female[Lang]}}</button>
            </div>
          </th>
          <th colspan="2">
            {{Dict.Result[Lang]}}
            <button type="button" class="btn btn-light sbtn" ng-show="Files[0].X1Years" ng-click="Export()">💾 {{Dict.Export[Lang]}}</button>
          </th>
        </tr>
        <tr>
          <th>{{Dict.Age[Lang]}}</th>
          <th>{{Dict.MonthAge[Lang]}}</th>
        </tr>
        <tr ng-repeat="f in Files">
          <td>{{f.Name}}</td>
          <td id="{{'Preview'+$index}}" ng-click="OnClickImg($index)"></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn" ng-class="f.Gender==1 ? 'btn-light' : 'btn-outline-light'" ng-click="f.Gender=1">{{Dict.Male[Lang]}}</button>
              <button type="button" class="btn" ng-class="f.Gender==0 ? 'btn-light' : 'btn-outline-light'" ng-click="f.Gender=0">{{Dict.Female[Lang]}}</button>
            </div>
          </td>
          <td>{{ToFixed(f.X1Years,3)}}</td>
          <td>{{ToFixed(f.X1Months,3)}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>